<%= form_for(@household) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% @household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :household_bill_id %><br />
    <%= f.number_field :household_bill_id %>
  </div>
  <div class="field">
    <%= f.label :household_member_id %><br />
    <%= f.number_field :household_member_id %>
  </div>
  <div class="field">
    <%= f.label :household_regular_bill_id %><br />
    <%= f.number_field :household_regular_bill_id %>
  </div>
  <div class="field">
    <%= f.label :address_entry_id %><br />
    <%= f.number_field :address_entry_id %>
  </div>
  <div class="field">
    <%= f.label :household_name %><br />
    <%= f.text_field :household_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
