<p id="notice"><%= notice %></p>

<p>
  <h1><%= @household.household_name %></h1>
</p>

<p>
  <b>Household Bills:</b>
  <% @household.bills.each do |b| %>
    <%= link_to(b.id, b) %>
  <% end %>
</p>
<p>
  <b>Household Total Owed:</b>
  <%= @total_bills %>
</p>

<p>
  <b>Household Roommates:</b>
  <% @household.users.each do |r| %>
    <%= link_to(r.email, r) %>
  <% end %>
</p>
<br />
<table>
  <tr>
    <th>Roommate</th>
    <th>Paid</th>
    <th>Paid Back</th>
    <th>Owes</th>
  </tr>
  <% @roommate_array.each do |ra| %>
    <tr>
      <td><%= link_to(ra.user.email, ra.user) %></td>
      <td><%= ra.paid_to_household %></td>
      <td><%= ra.paid_back_to_household %></td>
      <td><%= ra.owes_to_household %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th></th>
    <% @roommate_array.each do |r| %>
      <th><%= r.user.email %></th>
    <% end %>
  </tr>
  <% @roommate_array.each do |r| %>
    <tr> 
      <td><%= r.user.email %></td>
      <% @roommate_array.each do |rx| %>
        <td><%= r.owes_to_roommate(rx) %> <% if r.owes_to_roommate(rx) > 0 %> <button class="small radius success button"><%= link_to('Repay', :controller => 'payments', :action => 'repay', :from=> r, :to=> rx) %></button><% end %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Repayments</th>
    <th>Repay</th>
  </tr>
  <% @household.owes_list.each do |entry| %>
    <tr>
      <td><%= entry[:display_string] %>
      </td>
      <td>
        <button class="small radius success button"><%= link_to('Repay', :controller => 'payments', :action => 'repay', :from=> entry[:to_pay_roommate], :to=> entry[:paid_roommate]) %></button>
      </td>
    </tr>
  <% end %>
</table>


<br />
<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
